:root {
  --bg-dark: rgb(23, 26, 19);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: var(--bg-dark);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

main {
  position: absolute;
  top: 7.5vh;
  left: max(4vw,9vh);
  right: max(4vw,9vh);
  height: 85vh;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.side-menu {
  display: inline-block;
}

.menu {
  display: block;
  margin-bottom: max(1.5vh, 8px);
  color: white;
  width: auto;
  filter: brightness(0.9);
}

.menu-title {
  display: inline-block;
  font-weight: 600;
  font-size: max(4vh, 24px);
  width: fit-content;
}

.menu-title:hover {
  filter: drop-shadow(0px 0px 1.25vh rgb(204, 204, 204));
}

.menu-title:hover ~ .menu-widget {
  filter: invert(1) drop-shadow(0px 0px 1.25vh rgb(204, 204, 204));
  opacity: 1;
}

.menu-widget {
  display: inline-block;
  opacity: 0;
  margin-left: max(0.5vw, 10px);
  height: max(2.5vh, 20px);
  width: max(2.5vh, 20px);
  filter: invert(1);
}

.menu-widget img {
  position: relative;
  bottom: min(-0.15vh, -2px);
  height: auto;
  width: 100%;
}

.menu-item {
  font-weight: 500;
  font-size: max(2.5vh, 14px);
  margin-left: max(1.5vw, 15px);
  margin-bottom: max(1.5vh, 7.5px);
  width: max(10vw, 130px);
  padding: 0.5vh 1.5vh;
  border: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
}

.menu .menu-item:nth-child(3) {
  animation: fadeIn 0.75s ease-out 0s both;
}

.menu .menu-item:nth-child(4) {
  animation: fadeIn 0.75s ease-out 0.1s both;
}

.menu .menu-item:nth-child(5) {
  animation: fadeIn 0.75s ease-out 0.2s both;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: max(2.5vh, 14px);
  margin-left: max(1.5vw, 15px);
  margin-bottom: max(1.5vh, 7.5px);
  width: max(10vw, 130px);
  padding: 0.5vh 1.5vh;
  border: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  text-decoration: inherit;
  animation: fadeIn 1s ease;
}

.smaller-text {
  font-size: max(1.75vh, 12px);
}

.menu .nav-link:last-child {
  margin-bottom: max(3vh, 15px);
}

.menu .nav-link:nth-child(3) {
  animation: fadeIn 0.75s ease-out 0s both;
}

.menu .nav-link:nth-child(4) {
  animation: fadeIn 0.75s ease-out 0.1s both;
}

.menu .nav-link:nth-child(5) {
  animation: fadeIn 0.75s ease-out 0.2s both;
}

.menu .nav-link:nth-child(6) {
  animation: fadeIn 0.75s ease-out 0.3s both;
}


.active {
  color: var(--bg-dark);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

.menu-item:hover {
  color: var(--bg-dark);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--bg-dark);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.main-display {
  display: inline-block;
  position: absolute;
  top: 1.5vh;
  width: max(72.5vw, 750px);
  height: 82.5vh;
  margin-left: max(3vw, 65px);
}

.sub-display {
  animation: fadeIn 1s ease;
}
