:root {
    --bg-dark: rgb(23, 26, 19);
}

.kanji-recognition {
    display: grid;
    margin-left: min(-8vw,-95px);
    grid-template-columns: repeat(6, 1fr);
    column-gap: max(2vh,20px);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.kanji-recognition .kanji-word {
    display: inline-block;
    font-size: max(7.5vh, 48px);
    font-weight: 600;
    padding: 1vh 1vh;
    border: 2px solid white;
    text-align: center;
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
}

.kanji-recognition .answer-box {
    display: inline-block;
    min-height: max(4.5vh, 27.5px);
    margin-top: max(1.75vh,12.5px);
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: max(0.25vh, 2.5px) 0 max(1.25vh, 10px) 0;
}

.labels {
    position: relative;
    color: white;
    font-weight: 600;
    text-align: right;
    top: 50%;
    font-size: max(2.5vh, 16px);
    margin-top: min(-1.25vh, 8px);
    margin-left: max(-50px, -1vw);
}

.recognition-instructions {
    margin-top: max(3vh, 15px);
    margin-bottom: max(2vh, 10px);
    color: rgb(222, 222, 222);
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.answer-pool {
    display: grid;
    margin-left: min(-8vw,-95px);
    grid-template-columns: repeat(6, 1fr);
    column-gap: max(2vh,20px);
    row-gap: max(1.5vh,10px);
    min-height: 10vh;
    min-width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.pool-item {
    display: block;
    text-align: center;
    padding: max(0.5vh,4px) max(0.25vh,2px);
    margin: max(1vh,7.5px) 10px 0 10px;
    border: 1px solid white;
    font-size: max(2vh, 12px);
    font-weight: 600;
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2vh;
    max-height: max(3vh, 20px);
}

.shiny {
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.6);
}

.recognition-submit-button {
    float: right;
    margin: max(5vh, 30px) 10px;
    padding: max(0.5vh, 3px) max(0.5vw, 12px);
    border-radius: max(1vh,5px);
    background-color: var(--bg-dark);
    color: white;
    border: 2px solid white;
    font-size: max(2.5vh, 16px);
    font-weight: 500;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.recognition-submit-button:hover {
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--bg-dark);
    filter: drop-shadow(0px 0px max(1.25vh,5px) rgb(204, 204, 204));
}
