:root {
    --bg-dark: rgb(23, 26, 19);
}

/* =====================================================
   RECOGNITION MODE
   =====================================================   */

.kanji-recognition {
    display: grid;
    margin-left: min(-8vw,-95px);
    grid-template-columns: repeat(6, 1fr);
    column-gap: max(2vh,20px);
}

.kanji-recognition .kanji-word {
    display: inline-block;
    font-size: max(7.5vh, 48px);
    font-weight: 600;
    padding: 1vh 1vh;
    border: 2px solid white;
    text-align: center;
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
}

.kanji-recognition .answer-box {
    display: inline-block;
    min-height: max(4.5vh, 27.5px);
    margin-top: max(1.75vh,12.5px);
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: max(0.25vh, 2.5px) 0 max(1.25vh, 10px) 0;
}

.labels {
    position: relative;
    color: white;
    font-weight: 600;
    text-align: right;
    top: 50%;
    font-size: max(2.5vh, 16px);
    margin-top: min(-1.25vh, 8px);
    margin-left: max(-50px, -1vw);
}

.recognition-instructions {
    margin-top: max(3vh, 15px);
    margin-bottom: max(2vh, 10px);
    color: rgb(222, 222, 222);
    text-align: center;
    font-size: max(2.1vh, 14px);
}

.answer-pool {
    display: grid;
    margin-left: min(-8vw,-95px);
    grid-template-columns: repeat(6, 1fr);
    column-gap: max(2vh,20px);
    row-gap: max(1.5vh,10px);
    min-height: 10vh;
    min-width: 100%;
}

.pool-item {
    display: block;
    text-align: center;
    padding: max(0.5vh,4px) max(0.25vh,2px);
    margin: max(1vh,7.5px) 10px 0 10px;
    border: 1px solid white;
    font-size: max(2vh, 12px);
    font-weight: 600;
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2vh;
    max-height: max(3vh, 20px);
}

.shiny {
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.6);
}

.recognition-submit-button {
    float: right;
    margin: max(5vh, 30px) 10px;
    padding: max(0.5vh, 3px) max(0.5vw, 12px);
    border-radius: max(1vh,5px);
    background-color: var(--bg-dark);
    color: white;
    border: 2px solid white;
    font-size: max(2.5vh, 16px);
    font-weight: 500;
    text-align: center;
}

.recognition-submit-button:hover {
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--bg-dark);
    filter: drop-shadow(0px 0px max(1.25vh,5px) rgb(204, 204, 204));
}


/* =====================================================
   COMPREHENSION MODE
   =====================================================   */

.comp-top {
    display: flex;
    color: white;
}

.comp-top .comp-kanji {
    display: flexbox;
    padding: max(7.5vh, 45px) max(12.5vh, 75px);
    font-size: max(10vh, 60px);
    border: 4px solid white;
    margin-right: max(3vw, 30px);
    margin-left: max(3vw, 30px);
}

.comp-kanji-clues .kanji-clue:not(:last-child) {
    margin-bottom: max(1.5vh, 8px);
}

.kanji-clue .clue-text {
    font-size: max(2.5vh, 16px);
    margin-top: max(0.5vh, 5px);
    margin-left: max(1.5vw, 15px);
    filter: brightness(0.8);
    max-width: max(25vw, 350px);
    overflow-wrap: break-word;
}

.kanji-clue .clue-label {
    font-size: max(3vh, 18px)
}

.kanji-clue .hidden-clue {
    margin-top: max(0.5vh, 5px);
    width: 100%;
    font-size: max(2.5vh, 16px);
    padding-left: max(1.5vw, 15px);
    background-color: rgb(255, 255, 255);
    color: none;
    filter: brightness(0.8);
    border-radius: max(0.5vh, 5px);
}

.hidden-clue:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

.comp-bot {
    margin-left: max(3vw, 30px);
    height: 50vh;
}

.comp-instructions {
    margin-top: max(3vh, 15px);
    margin-bottom: max(2vh, 10px);
    color: rgb(222, 222, 222);
    font-size: max(2.5vh, 16px);
}

.comp-answer-pool {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: max(50vw, 600px);
    row-gap: max(2.5vh, 17.5px);
}

.comp-mc-option {
    display: block;
    text-align: center;
    padding: max(0.75vh,6px) max(0.25vh,2px);
    margin: 0 10px 0 10px;
    border: 2px solid white;
    font-size: max(2vh, 15px);
    font-weight: 600;
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.5vh;
}

.comp-mc-option:hover {
    background-color: var(--bg-dark);
    color: white;
    font-weight: 600;
}

.comp-next-button {
    display: inline-block;
    position: relative;
    margin: max(2.5vh, 25px) 10px;
    padding: max(0.5vh, 3px) max(0.5vw, 12px);
    border-radius: max(1vh,5px);
    background-color: var(--bg-dark);
    color: white;
    border: 2px solid white;
    font-size: max(2.5vh, 16px);
    font-weight: 500;
    text-align: center;
    width: fit-content;
}

.comp-next-button:hover {
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--bg-dark);
    filter: drop-shadow(0px 0px max(1.25vh,5px) rgb(204, 204, 204));
}

.score-box {
    display: inline-block;
    margin-left: max(1vw, 15px);
    color: white;
    font-size: max(2.5vh, 16px);
    width: fit-content;
}


/* =====================================================
   VOCAB MODE
   =====================================================   */

.vocab-word {
    padding-top: max(3vh, 20px);
    font-size: max(4vh, 20px);
    word-wrap: break-word;
    text-align: center;
    color: white;
}

.vocab-instructions {
    margin-top: max(1.5vh, 15px);
    margin-bottom: max(2.5vh, 17.5px);
    padding: max(1vh,5px) 0;
    color: rgb(222, 222, 222);
    font-size: max(2.25vh, 14px);
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.vocab-answer-pool {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: max(50vw, 600px); */
    row-gap: max(2.5vh, 17.5px);
}

.vocab-answer-choice {
    display: block;
    text-align: center;
    padding: max(0.75vh,6px) max(0.25vh,2px);
    margin: 0 10px 0 10px;
    border: 2px solid white;
    font-size: max(2.75vh, 20px);
    font-weight: 600;
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.5vh;
}

.vocab-answer-choice:hover {
    background-color: var(--bg-dark);
    color: white;
}

.vocab-wrong-choice {
    display: block;
    text-align: center;
    padding: max(0.75vh,6px) max(0.25vh,2px);
    margin: 0 10px 0 10px;
    border: 2px solid white;
    font-size: max(2.75vh, 20px);
    font-weight: 600;
    color: white;
    border-radius: 1.5vh;
    background-color: rgba(171, 63, 63, 0.4);
}

.vocab-correct-choice {
    display: block;
    text-align: center;
    padding: max(0.75vh,6px) max(0.25vh,2px);
    margin: 0 10px 0 10px;
    border: 2px solid white;
    font-size: max(2.75vh, 20px);
    font-weight: 600;
    color: white;
    border-radius: 1.5vh;
    background-color: rgba(72, 181, 66, 0.6);
}

.vocab-next-button {
    display: inline-block;
    position: relative;
    margin: max(2.5vh, 25px) 10px;
    padding: max(0.5vh, 3px) max(0.5vw, 12px);
    border-radius: max(1vh,5px);
    background-color: var(--bg-dark);
    color: white;
    border: 2px solid white;
    font-size: max(2.5vh, 16px);
    font-weight: 500;
    text-align: center;
    width: fit-content;
}

.vocab-next-button:hover {
    color: var(--bg-dark);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid var(--bg-dark);
    filter: drop-shadow(0px 0px max(1.25vh,5px) rgb(204, 204, 204));
}
